- name: Build TWA
  run: |
    npm install -g @bubblewrap/cli

    bubblewrap init --manifest=https://powertech0417.github.io/generate_links/manifest.json --use-existing --skip-requirements-check

    bubblewrap build --skip-requirements-check
